@keyframes slide {
    from {
        background-color: rgba(25, 25, 25, 1);
    }
    to {
        background-color: rgba(25, 25, 25, 0);
    }
}

@keyframes text {
    from {
        color: rgba(25, 25, 25, 0)
    }
    TO {
        color: black;
    }
}

body {
    background-color: rgb(245, 239, 239);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    input {
        display: none;
    }
    img {
        position: relative;
        z-index: -1;
        width: 100%;
    }
    .wrapper {
        width: 70%;
        height: auto;
        margin: 0.5rem auto;
        display: grid;
        grid-template-areas: "A A A A A" ". . C . ." " B B B B B";
    }
    label {
        background: radial-gradient(black 30%, rgb(245, 239, 239) 20%);
        border-radius: 100%;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
    }
    label:hover {
        background: radial-gradient(rgba(43, 42, 43, 0.836) 30%, rgb(245, 239, 239) 20%);
    }
    label:active {
        background: radial-gradient(rgb(224, 174, 174) 30%, rgb(245, 239, 239) 20%);
    }
    .slides {
        display: none;
        position: relative;
    }
    .slider {
        width: 100%;
        grid-area: A;
        margin-bottom: 0.5rem;
    }
    .text-in-mem {
        grid-area: B;
    }
    .controls {
        grid-area: C;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: end;
    }
    #radio1:checked~.slider>.slide1,
    #radio2:checked~.slider>.slide2,
    #radio3:checked~.slider>.slide3,
    #radio4:checked~.slider>.slide4 {
        display: block;
        width: 100%;
        animation: slide 3s;
    }
    .text {
        display: none;
    }
    #radio1:checked~.text-in-mem>.text1,
    #radio2:checked~.text-in-mem>.text2,
    #radio3:checked~.text-in-mem>.text3,
    #radio4:checked~.text-in-mem>.text4 {
        display: block;
        width: 100%;
        animation: text 3s;
        text-align: justify;
    }
    #radio1:checked~.controls>.label1,
    #radio2:checked~.controls>.label2,
    #radio3:checked~.controls>.label3,
    #radio4:checked~.controls>.label4 {
        background: radial-gradient(#9C2A4C 30%, rgb(245, 239, 239) 20%);
    }
}

@media screen and (min-width: 769px) {
    body {
        font-size: 100%;
    }
    input {
        display: none;
    }
    img {
        position: relative;
        z-index: -1;
        width: 100%;
    }
    .wrapper {
        width: 40%;
        height: auto;
        margin: 0.5rem auto;
        display: grid;
        grid-template-areas: "A A A A A" "B B B . C";
    }
    label {
        background: radial-gradient(black 30%, rgb(245, 239, 239) 20%);
        border-radius: 100%;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
    }
    label:hover {
        background: radial-gradient(rgba(43, 42, 43, 0.836) 30%, white 20%);
    }
    label:active {
        background: radial-gradient(rgb(224, 174, 174) 30%, rgb(245, 239, 239) 20%);
    }
    .slides {
        display: none;
        position: relative;
    }
    .slider {
        width: 100%;
        grid-area: A;
        margin-bottom: 0.5rem;
    }
    .text-in-mem {
        grid-area: B;
    }
    .controls {
        grid-area: C;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: end;
    }
    #radio1:checked~.slider>.slide1,
    #radio2:checked~.slider>.slide2,
    #radio3:checked~.slider>.slide3,
    #radio4:checked~.slider>.slide4 {
        display: block;
        width: 100%;
        animation: slide 3s;
    }
    .text {
        display: none;
    }
    #radio1:checked~.text-in-mem>.text1,
    #radio2:checked~.text-in-mem>.text2,
    #radio3:checked~.text-in-mem>.text3,
    #radio4:checked~.text-in-mem>.text4 {
        display: block;
        width: 100%;
        text-align: justify;
        animation: text 3s;
    }
    #radio1:checked~.controls>.label1,
    #radio2:checked~.controls>.label2,
    #radio3:checked~.controls>.label3,
    #radio4:checked~.controls>.label4 {
        background: radial-gradient(#9C2A4C 30%, rgb(245, 239, 239) 20%);
    }
}